.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-basis: 50%;
}

.flex-col-2 {
  padding: 20px 20px;
}

#content.bootstrap .panel,
.bootstrap .panel .panel-footer {
  background: transparent;
  border: 0px;
  box-shadow: 0 0 0px 0 rgba(0, 0, 0);
}

.spectrocoin-settings {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #dbe6e9;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
}

.logo-container {
  margin-bottom: 20px;
}

.page-subtitle {
  display: none;
}
#module_form_submit_btn {
  align-items: center;
  background: #4972f4;
  border-radius: 4px;
  border: 2px solid #4972f4;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  outline: none;
  padding: 4px 28px;
  text-decoration: none;
  transition: all 0.1s, visibility 0s;
}

@media only screen and (max-width: 800px) {
  .flex-col {
    flex-basis: 100%;
  }
}

.spectrocoin-settings .logo {
  width: 200px;
}

.spectrocoin-settings .form-wrapper {
  margin: 0 !important;
}

.spectrocoin-settings .panel-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-footer {
  padding: 10px 20px !important;
  margin-top: 30px !important;
}
